<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="admin/style.css">
</head>
<body>
	<div>
			<h1>Welcome Bangabandhu Shop Management home,<%= user.username%></h1>	
	</div>

	<a href="/home/adduser">Create Employee</a> |
	<a href="/home/view_users">view Employee</a> |
	<a href="/home/view_product">view Product</a> |
	<a href="/logout">Logout</a><br>




	Username:  <%= user.username %> <br>
	Id: <%= user.eid %> <br>
	Password: <%= user.password %> <br>
	Status: <%= user.status %>
</body>
</html>